body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  background-image: url(./images/background-uol.png);
  height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
  font-style: normal;
  color: #E0E0E0;
}





.image {
  background-image: url(./images/uol-ball.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}